<html lang="en">
<head>
    <title>ARS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/2.0.0/toastui-editor.min.css">
    <script src="https://uicdn.toast.com/editor/2.0.0/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="/css/algorithm.css" type="text/css">
    <link rel="stylesheet" href="/css/md_css.css">
</head>

<body style="margin-right: 10px; margin-left: 10px">
    <nav class="navbar justify-content-center navbar-light bg-light">
        <a class="nav-link" style="color:grey" href="/problems"><pre>     </pre></a>
        <a class="navbar-brand" style="font-size: 23px;" href="/"><b>ARS</b></a>
        <a class="nav-link" style="color:grey" href="/problems">문제 등록</a>
        {{#access_token}}
            <script>
                sessionStorage.setItem("access_token", "{{access_token}}");
                sessionStorage.setItem("nickname", "{{nickname}}");
                location.href ="/"
            </script>
        {{/access_token}}
    </nav>
    <script type="text/javascript" src="/js/banner.js"></script>

    <br/>