{{>layout/header}}

<div class="container" align="center">
    <br/><br/>
    <h2>ARS</h2>
    Algorithm Review Service
    <br/><br/>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=5354f1c1ec547c553355a726f5d4b288&redirect_uri=http://localhost:8080/user/kakao/callback&response_type=code"><img height="44px" src="/image/kakao_button.png"/></a><br>
    <a href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?response_type=code&client_id=728473065211-rp39ml47kp5rr0ev6j0b75sjbrpm0maa.apps.googleusercontent.com&scope=profile%20email&state=YB4fxo3fSR-IwgkL_uXiCAqTuQaqIFcGcstSxUd3tNo%3D&redirect_uri=http://127.0.0.1:8080/user/google/callback&flowName=GeneralOAuthFlow"><img height="44px" src="/image/google_button.png"/></a>
    <br/><br/>
    <div class="form-group form-check text-center" >
        <label class="form-check-label">
            <input name="remember" class="form-check-input" type="checkbox"> Remember me
        </label>
    </div>
</div>