@charset "UTF-8";

.problem-last-step {
    float: right;
    font-weight: bold;
    font-size: 22px;
    margin-right: 8px;
    margin-top: 4px;
}

.problem-a {
    color: black;
}

#title {
    display: block;
    padding: 0px;
    font-size: 2.75rem;
    width: 100%;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    font-weight: bold;
    color: rgb(33, 37, 41);
}

#review-issue {
    padding: 0px;
    font-size: 1.4rem;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    font-weight: bold;
    color: rgb(33, 37, 41);
}

#link {
    display: block;
    padding: 0px;
    font-size: 1.125rem;
    width: 100%;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    /*font-weight: bold;*/
    color: rgb(33, 37, 41);
}

.link-block {
    width: 240px;
    margin-left: 5rem;
    border-left: 2px solid rgb(233, 236, 239);
    padding: 0.25rem 0.75rem;
    color: rgb(134, 142, 150);
    line-height: 1.5;
    font-size: 0.875rem;
    max-height: calc(100vh - 128px);
    overflow: hidden auto;
}

.cVIjCQ {
    display: block;
    padding: 0px;
    font-size: 2.75rem;
    width: 100%;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    font-weight: bold;
    color: rgb(33, 37, 41);
}
.cspOdp {
    display: inline-flex;
    outline: none;
    cursor: text;
    font-size: 1.125rem;
    line-height: 2rem;
    margin-bottom: 0.75rem;
    min-width: 8rem;
    border: none;
}

.bold-line-left {
    background: rgb(73, 80, 87);
    height: 6px;
    width: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1px;
}
.light-line-left {
    background: lightgray;
    height: 3px;
    width: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1px;
}

.jOSCEK {
    color: rgb(52, 58, 64);
    font-size: 1.125rem;
    display: flex;
    flex-wrap: wrap;
}


#tag-block {
    display: block;
    width: 100%;
    color: rgb(73, 80, 87);
    transition: all 0.125s ease-in 0s;
}

.btn-tag {
    margin-bottom: 0.875rem;
    background: rgb(241, 243, 245);
    border: white;
    height: 2rem;
    border-radius: 1rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(12, 166, 120);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}



.review-block {
    display: block;
    transition: all 0.125s ease-in 0s;
}

#problem-title {
    font-weight: 800;
    font-size: 3rem;
}

#review-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 2px;
    background-color: #d2d2d2;
}

/* 사용 X */
.select-box {
    display: block;
    /*width: 30%;*/
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* detail 페이지의 수정, 삭제 버튼 컨테이너 css */
.fix-btn-container {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: -1.25rem;
}

/* detail 페이지의 수정, 삭제 버튼 css */
.fix-btn {
    background-color: white;
    color: darkgrey;
    border: none;
}