.raw-switch {
    font-size: .9em;
    color: #444;
    position: relative;
    top: 30px;
    left: 20px;
    z-index: 1;
}

aside#markdown,
aside#output-html,
section {
    width: 50%;
    padding: 30px;
}

aside#markdown {
    background: #f1f1f1;
    white-space: pre-wrap;
    position: relative;
    float: left;
    height: 50%;
    bottom: 0;
    overflow-y: scroll;
}

aside#output-html {
    background: #FFFFFF;
    /*white-space: pre-wrap;*/
    position: relative;
    float: right;
    height: 50%;
    bottom: 0;
    overflow-y: scroll;
}

#output-html {
    padding: 30px;
}


aside:focus {
    outline: none;
}

div#markdown{
    background: #f1f1f1;
    white-space: pre-wrap;
    width: 80%;
    height: 50%;
    bottom: 0;
    overflow-y: scroll;
}

section {
    /*float: right;*/
    height: 50%;
    margin-left: 10%;
    overflow-y: scroll;
    overflow-x: hidden;
}

section h1 {
    font-size: 1.8em;
}

section b {
    font-weight: 700;
}

section pre {
    overflow-y: scroll;
}