{{>layout/header}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css">
<link rel="stylesheet" href="https://uicdn.toast.com/editor/2.0.0/toastui-editor.min.css">

<script src="https://uicdn.toast.com/editor/2.0.0/toastui-editor-all.min.js"></script>

<div style="margin-left: 270px; margin-right: 270px">
    <br>
<!--    <button class="btn-secondary btn" onclick="history.back()">뒤로가기</button>-->
    <div class="form-group">
        <h1 id="title">{{problem.title}}</h1>
        {{problem.writer.nickname}}&nbsp ·&nbsp 작성일 <span class="date">{{createdDate}}</span>
    </div>
    <hr>
    <div id="link" tabindex="2" value="" class="sc-jtRlXQ cspOdp"><a href="{{problem.link}}">문제 링크</a></div>
    <hr>
    <span id="review-issue">Review#{{index}} · </span><span class="date">{{review.createdDate}}</span>
        <div style="margin-top: 13px;">
            <div id="editor-hidden" hidden style="box-sizing: border-box; margin-top: 5px; height: 500px;">{{review.content}}</div>
            <div id="viewer"></div>
        </div>
    <hr>

    <div id="reviewLinkList" class="sc-gHboQg eLpzfs link-block" style="position: fixed; top: 160px; right: 0px;">
        <a href="/problems/{{problem.id}}/reviews" class="btn-secondary btn" style="width: 180px">Add Review</a><br><br>
        <script>
            const reviewLinkElem = document.getElementById("reviewLinkList");
            let reviewLinkContent = '';
            let reviewIndex = 1;
            {{#problem.reviewList}}
                reviewLinkContent += `
                <div class="review-block" style="margin-left: 12px;">
                    ${reviewIndex}. <a href="/problems/{{problem.id}}?index=${reviewIndex}" style="color: rgb(134, 142, 150);"  class="date">{{createdDate}}</a>

                </div>
                `
                reviewIndex += 1;
            {{/problem.reviewList}}

            reviewLinkElem.innerHTML += reviewLinkContent;
        </script>
    </div>
</div>
<script>
    /* eslint-disable no-unused-vars */
    const content = [].join('\n');

    const viewer = toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        height: '500px',
        initialValue: content
    });

    let elem = document.getElementById('editor-hidden');
    console.log(elem.innerText)
    viewer.setMarkdown(elem.innerText);

    // date 포맷 수정
    let dateArr = document.getElementsByClassName("date");
    for (let i = 0; i < dateArr.length; i++) {
        console.log(dateArr[i].textContent)
        console.log(dateArr[i].innerText)
        dateArr[i].textContent = dateArr[i].textContent.substr(0, 10);
    }
</script>

<script src="/js/algorithm.js"></script>
<script src="/js/markdown.js"></script>
{{>layout/footer}}