{{>layout/header}}
<br>
<script src="https://uicdn.toast.com/editor/2.0.0/toastui-editor-all.min.js"></script>
<div id="review-register-div" style="margin-left: 270px; margin-right: 270px">

<script>
    let div = document.getElementById("review-register-div")

    if (sessionStorage.getItem("access_token")) {
        $.ajax({
            type: "GET",
            url: "/api/members/check",
            headers: {"Authorization": sessionStorage.getItem("access_token"), "Content-type": "application/json"},
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (result) {
            const status = result.status;
            if (status === 200) {
                div.innerHTML += `
                <div class="form-group">
                    <h1 id="title">{{problem.title}}</h1>
                    <input hidden id="problem-id" value="{{problem.id}}" />
                    <select id="notificationDate" class="form-control select-box" style="width: 100%; margin-bottom: 5px">
                        <option value="1" selected>알림 기한 설정</option>
                        <option value="5">일주일 후 알림</option>
                        <option value="4">이주일 후 알림</option>
                        <option value="3">한 달 후 알림</option>
                        <option value="2">두 달 후 알림</option>
                        <option value="1">세 달 후 알림</option>
                    </select>
                </div>
                <div id="editor" style="box-sizing: border-box; margin-top: 5px; height: 500px;"></div>
                <br/><br/>
                <button id="btn-review-register" class="btn btn-dark" style="float: right">등록하기</button>
            `;

                const content = [].join('\n');

                const editor = new toastui.Editor({
                    el: document.querySelector('#editor'),
                    previewStyle: 'vertical',
                    initialEditType: "markdown",
                    height: '500px',
                    initialValue: content
                });

                $("#btn-register").on("click", () => {
                    console.log(document.getElementsByClassName("tui-editor-contents")[0].innerHTML);
                });
            } else {
                alert("등록 권한이 없습니다. 문아영한테 문의하시길.");
            }
        })
    } else {
        location.href = "/user/login"
    }

    </script>
</div>
<script type="text/javascript" src="/js/problem.js"></script>
{{>layout/footer}}