{{>layout/header}}
<div style="margin: 10px">
<textarea placeholder="제목을 입력하세요" id="title" style="height: 66px;"></textarea>
<div class="bold-line-left"></div>
<div class="sc-jeCdPy jOSCEK">
    <input placeholder="태그를 입력하세요" id="tag" tabindex="2" value="" class="sc-jtRlXQ cspOdp">
    <div id="tag-block"></div>
    <script>
        $(document).ready(function () {
            $("#tag").keydown(function (key) {
                if (key.keyCode == 13) { // 엔터키 이벤트
                    key.preventDefault();
                    let tagName = $("#tag").val();
                    let tagBlock = document.getElementById("tag-block");
                    tagBlock.innerHTML += ` <button class="btn-tag" value="${tagName}">` + tagName + "</button> "
                    $("#tag").val("");
                }
            });
        });
    </script>
</div>
<div class="light-line-left"></div>
<textarea placeholder="문제 링크를 입력하세요" id="link"></textarea>
<select id="step" class="form-control select-box">
    <option value="1" selected>알림 기한 설정</option>
    <option value="1">세달 후 알림</option>
    <option value="2">두달 후 알림</option>
    <option value="3">한달 후 알림</option>
    <option value="4">이주일 후 알림</option>
    <option value="5">일주일 후 알림</option>
</select>
<div id="editor" style="box-sizing: border-box; margin-top: 5px; height: 500px;"></div>
<br/>
<button id="btn-register" class="btn btn-dark">등록하기</button>
<br/>
</div>
<script src="https://uicdn.toast.com/editor/2.0.0/toastui-editor-all.min.js"></script>

<script>
    /* eslint-disable no-unused-vars */
    const content = [].join('\n');

    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        initialEditType: "markdown",
        height: '500px',
        initialValue: content
    });

    $("#btn-register").on("click", () => {
           console.log(document.getElementsByClassName("tui-editor-contents")[0].innerHTML);
    });
</script>

<script type="text/javascript" src="/js/algorithm.js"></script>
{{>layout/footer}}
